.main-bg {
    background-color: var(--primary-color);
    color: white;
}

.secondary-bg {
    background-color: white;
}

.section {
    min-height: 100vh;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.description {
    font-style: italic;
}

@media (max-height:650px) {
    .main-content {
        padding: 150px var(--gap);
    }
}